<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
    <h1>
        create your post
    </h1>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="username"><br><br>
        <textarea name="content" placeholder="type your content"></textarea><br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>