<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>see the post in detail</h1>
    <div class="post">
        <p>post id:<%=post.id%></p>
        <h2 class="user">@<%=post.username%></h2>
        <h3><%=post.content%></h3>
    </div>
    
</body>
</html>